<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect OTP</title>
    <style>
    body{
background-image:url(/music3.png);
 min-height: 100%;
   background-repeat: no-repeat;
   background-position: center;
 text-align: center;
 font-size:  25px;
}
    </style>
</head>
<body>
    <h1>Incorrect OTP</h1>
    <p>The OTP you entered is incorrect. Please try again.</p>
    <a href="/forgot-password">Resend OTP</a>
</body>
</html>