<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Resgister Successsfful</title>
</head>
<style>
body{
text-align:center;
background-color:  #FF9671;
/*#add8e6*/

}

button
{        
     border-color: rgb(133, 8, 250);
    height: auto;
    width:230px;
    border-radius:20px;
    padding:10px;
    margin-top:15px;  
    font-size: 18px;
    background-color:black;
    color:white;
}
button:hover
{
    cursor: pointer;
}

</style>
<body>
<img src="/logo2.png" style="height: 100px ; width: 100px ; position: absolute ; top: 0 " >
<h1>Registration Successful</h1>

<hr color='black' width='40%'>
<br>
<br>
<a href="/map-login"><button>Login</button> </a>
</body>
</html>